.profile__edit-button {
  grid-column-start: 2;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .5s;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 580px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
