.popup__submit {
  margin: 0 auto 36px;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  padding: 16px 125px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: #000;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.popup__submit:hover {
  opacity: 0.8;
}
