.profile-info__edit-button {
  grid-column-start: 2;
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all .5s;
}

.profile-info__edit-button:hover {
  opacity: .6;
}
